<h1>All The Product</h1>

<table border='2'>
  <thead>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Input a New Product", root_path %></p>